@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Vacation Express!</h1>
</div>

<h2> Are you ready to find your dream destination?</h2>

<a href="/SearchResult">Search Results</a>
